.botao {
    background-color: #1e3499;
    border-radius: 10px;
    padding: 32px;
    margin-top: 2em;
    font-size: 18px;
    color: #FFF;
    border: none;
}

.botao:hover {
    cursor: pointer;
    background-color: rgb(8, 114, 214);
    color: #FFF; 
}